*{
	padding: 0px;
	margin: 0px;
}


.navbar{
	height: 825px;
	width: 20%;
	background-color: black;
	float: left;
	position: fixed;
}
.profile{
	height: 130px;
	width: 100%;
	background-color:black;
	display: flex;
	justify-content: center;
	float: left;
	margin-bottom:15px;

}
.photo{
	height: 105px;
	width: 40%;
	border-radius: 50%;
	margin-top: 15px;
	border: 7px solid grey;
	float: left;
	align-content: center;
}
.name{
	color: white;
	text-align: center;
	font-weight: 900;
}
.namee{
	color: white;
	margin-left: 40px;
}

.icon{
	height: 30px;
	width: 30px;
	border-radius: 50px;
	background-color: brown;
	color: white;
	align-content: center;
	text-align: center;
	margin-left: 22px;
	margin-top: 16px;
	float: left;
}

.home{
	height: 50px;
	width: 90%;
	float: left;
	background-color: black;
	color: white;
	margin-top: 16px;
	margin-left: 20px;
	font-size: large;
}
.homee{
	height: 50px;
	width: 90%;
	float: left;
	background-color: black;
	color: white;
	margin-top: 50px;
	margin-left: 20px;
	font-size: large;
}

.spart{
	height: 722px;
	width: 80%;
	background-image: url(mnb.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-left: 20%;
	float: left;
	align-content: center;
}

.tpart{
	width: 80%;
	margin-left: 20%;
	float: left;
}
.h{
	font-weight: 1000;
	margin-left: 13px;
	margin-top: 50px;
}
p{
	font-weight: 100;
}
.ph{
	width: 300px;
	height: 380px;
	float: left;
	margin-left: 13px;
	margin-top: 50px;
}
.pcontent{
	margin-left: 15px;
	margin-top: 50px;
	float: left;
}
.pp{
	width: 800px;
	margin-top: 30px;
	float: left;
}
.list1{
	height: 130px;
	width: 400px;
	float: left;
	margin-left: 50px;
	margin-top: 40px;
}
.list2{
	height: 130px;
	width: 400px;
	float: left;
	margin-left: 50px;
	margin-top: 40px;
}
.ppp{
	width: 800px;
	margin-top: 50px;
	margin-left: 20px;
	float: left;
}
.fpart{
	height: 150px;
	width: 80%;
	background-color: brown;
	margin-left: 20%;
	margin-top: 150px;
	float: left;
	align-content: center;
}
.iconn{
	float: left;
	height: 100px;
	width: 80px;
	color: blue;
	background-color: lightblue;
	font-size: 60px;
}	
.iconnn{
}
.ffpart{
	width: 79%;
	margin-left: 21%;
	float: left;
	margin-top: 130px;
}
.progresss{
	height: 200px;
	width: 39%;
/*	background-color: black;*/
	margin-top: 75px;
	margin-left: 22%;
	float: left;
}
progress{
	width: 90%;
	display: flex;
}
.progressss{
	height: 200px;
	width: 39%;
/*	background-color: black;*/
	margin-top: 75px;
	float: left;
}

.sspart{
	width: 79%;
	margin-left: 21%;
	float: left;
	margin-top: 130px;
}
.ssspart{
	width: 79%;
	margin-left: 21%;
	float: left;
	margin-top: 100px;
}
.listt{
	margin-left: 65px;
}
.listtt{
	margin-left: 40px;
}
.ndiv{
	float: left;
	width: 45%;
}
.ndivv{
	float: left;
	width: 38%;
	margin-left: 50px;
}
.circle{
	height: 10px;
	width: 10px;
	border-radius: 50%;
	border: 4px solid lightblue;
}
.vline{
	width: 3px;
	height:220px;
	background-color: lightblue;
	float: left;
	margin-left: 7px;
}

.circlee{
	height: 10px;
	width: 10px;
	border-radius: 50%;
	border: 4px solid lightblue;
}
.vlinee{
	width: 3px;
	height:150px;
	background-color: lightblue;
	float: left;
	margin-left: 7px;
}
.vlineee{
	width: 3px;
	height:170px;
	background-color: lightblue;
	float: left;
	margin-left: 7px;
}
.circleeeee{
	height: 10px;
	width: 10px;
	border-radius: 50%;
	border: 4px solid lightblue;
}
.vlineeeee{
	width: 2px;
	height:357px;
	background-color: lightblue;
	float: left;
	margin-left: 7px;
}
.circleeeeee{
	height: 10px;
	width: 10px;
	border-radius: 50%;
	border: 4px solid lightblue;
}
.vlineeeeee{
	width: 2px;
	height:320px;
	background-color: lightblue;
	float: left;
	margin-left: 7px;
}

.epart{
	height: 60px;
	width: 80%;
	float: left;
	margin-left: 20%;
	margin-top: 90px;
	text-align: center;
	display: flex;
	justify-content: center;
}
.x{
	float: left;
	margin-left: 25px;
}

.npart{
	height: 1250px;
	width: 80%;
	float: left;
	margin-left: 20%;
}
.nnpart{
	height: 300px;
	width: 32%;
	float: left;
	padding: 7px;
}

.nnpart:hover{
	background-color: brown;
	transform: scale(1.2);
}

.ttpart{
	height: 350px;
	width: 80%;
	margin-left: 20%;
	margin-top: 50px;
/*	background-color: brown;*/
	float: left;
}
.testimonials{
	height: 200px;
	width: 80%;
	margin-left: 5%;
	margin-top: 70px;
	text-align: center;
	align-content: center;
	display: flex;
	justify-content: center;
	float: left;
	gap: 70px;
}
.testimonial{
	height: 340px;
	width: 25%;
	float: left;
}
.imgg{
	height: 70px;
	width: 70px;
	border-radius: 50%;
	margin-top: 25px;
}
.fffpart{
	width: 79%;
	margin-left: 21%;
	float: left;
	margin-top: 130px;
}

.c{
	background-color: whitesmoke;
	border: 2px solid lightblue;
/*	box-shadow: 2px 2px 20px lightblue;*/
/*	border-radius: 5px;*/
}

.full{
	height: 700px;
	width: 80%;
	margin-left: 20%;
	float: left;
/*	background-color: black;*/
	margin-top: 70px;
}
.half{
	width: 40%;
	float: left;
	height: 670px;
	margin-left: 1%;
	margin-top: 20px;
	background-color: whitesmoke;
}
.halff{
	background-color: red;
	width: 55%;
	float: left;
	height: 670px;
	margin-left: 1%;
	margin-top: 20px;
	background-color: whitesmoke;
}
.add{
	height: 92px;
	align-content: center;
	float: left;
	margin-top: 11px;
}
.loc{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: lightblue;
	color: blue;
	align-content: center;
	text-align: center;
	font-size: 25px;
	margin-left: 20px;
	margin-top: 10px;
	float: left;
}
.locc{
	height: 70px;
	width: 350px;
	float: left;
	margin-left: 20px;
/*	margin-top: 10px;*/
	line-height: 30px;
}
.mapp{
	width: 450px;
	height: 300px;
	margin-left: 15px;
	margin-top: 16px;
}
.labe{
	font-size: large;
	float: left;
	margin-left: 40px;
	margin-top: 40px;
}
.form{
	float: left;
	font-size: 20px;
}
.formm{
	font-size: large;
	height: 50px;
	width: 270px;
	margin-left: 40px;
	margin-top: 13px;
	float: left;
}
.formmm{
	font-size: large;
	height: 50px;
	width: 580px;
	margin-left: 40px;
	margin-top: 13px;
	float: left;
}
.formmmm{
	font-size: large;/*
	height: 50px;
	width: 580px;*/
	margin-left: 40px;
	margin-top: 13px;
	float: left;
}
.but{
	height: 50px;
	width: 200px;
	align-content: center;
	font-size: large;
	color: white;
	margin-top: 32px;
	margin-left: 250px;
	border-radius: 50px;
	background-color: skyblue;
	float: left;
}
.copy{
	height: 100px;
	width: 80%;
	margin-top: 50px;
	margin-left: 20%;
	background-color: lightgray;
	float: left;
	align-content: center;
	text-align: center;
	line-height: 32px;
}






.numbers{
	height: 400px;
	width: 80%;
	margin-left: 20%;
	background-color: white;
	float: left;
}
.num1{
	height: 300px;
	width: 25%;
	background-color:white;
	float: left;
	align-content: center;
	text-align: center;
}
.num2{
	height: 300px;
	width: 25%;
	background-color:white;
	float: left;
	align-content: center;
	text-align: center;
}
.num3{
	height: 300px;
	width: 25%;
	background-color:white;
	float: left;
	align-content: center;
	text-align: center;
}
.num4{
	height: 300px;
	width: 25%;
	background-color:white;
	float: left;
	align-content: center;
	text-align: center;
}







.ipsum{
	height: 130px;
	width:32%;
	background-color:white;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}
.left
{
	margin-left: 10px;
	margin-top: 5px;
}
.p{
}
.icons{
	height: 90px;
	width:80px;
	background-color:skyblue;
	float: left;
	font-size: 30px;
	border-radius: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
}

@media (max-width: 767px){
	.navbar{
		display: none;
	}
	.spart{
		width: 100%;
		height: 600px;
		margin-left: 0px;
	}
	.tpart{
		width: 100%;
		margin-left: 0px;
	}
	.abt{
		font-family: arial;
		font-size: 20px;
	}
	.ph{
		width: 100%;
		margin-left: 0px;
	}
	.pp{
		font-family: arial;
		font-size: 20px;
		width: 100%;
	}
	.co{
		height: 400px;
		width: 80%;
		background-color: skyblue;
		margin-left: 30px;
		margin-top: 20px;
		float: left;
	}
	.uul{
		font-size: large;
	}
	.ppp{
		width: 98%;
		font-size: 20px;
		font-family: arial;
		margin-left: 10px;
	}
	.numbers{
		height: 900px;
		width: 97%;
		font-size: 30px;
		margin-left: 2%;
		margin-top: 100px;
	}
	.num1{
		height: 200px;
		width: 80%;
		margin-left: 25px;
		float: left;
/*		background-color: lightblue;*/
		text-align: center;
		margin-top: 25px;
	}
	.num2{
		height: 200px;
		width: 80%;
		margin-left: 25px;
		float: left;
/*		background-color: lightblue;*/
		text-align: center;
		margin-top: 25px;
	}
	.num3{
		height: 200px;
		width: 80%;
		margin-left: 25px;
		float: left;
/*		background-color: lightblue;*/
		text-align: center;
		margin-top: 25px;
	}
	.num4{
		height: 200px;
		width: 80%;
		margin-left: 25px;
		float: left;
/*		background-color: lightblue;*/
		text-align: center;
		margin-top: 25px;
	}
	.ffpart{
		width: 100%;
		margin-left: 0px;
	}
	.progresss{
		width: 97%;
		margin-left: 13px;
	}
	.progressss{
		width: 98%;
		margin-left: 13px;
		margin-top: 13px;
	}
	.sspart{
		width: 100%;
		margin-left: 7px;
		margin-top: 50px;
		font-size: 20px;
		font-family: arial;
	}
	.ssspart{
		width: 100%;
		margin-left: 0px;
		font-size: 20px;
		font-family: arial;
	}
	.ndiv{
		width: 98%;
		margin-left: 1%;
	}
	.ndivv{
		width: 98%;
		margin-left: 1%;
	}
	.ffpart{
		width: 98%;
		margin-left: 1%;
		font-size: 20px;
		font-family: arial;
	}
	.epart{
		margin-left: 1%;
		width: 98%;
	}
	.npart{
		height: 3800px;
		width: 100%;
		margin-left: 0px;
	}
	.nnpart{
		width: 80%;
		margin-left: 30px;
	}
	.ttpart{
		width: 97%;
		margin-left: 2%;
		height: 900px;
		font-size: 20px;
		font-family: arial;
	}
	.ipsum{
		width: 100%;
		margin-left: 0px;
		margin-top: 20px;
	}
	.icons{
		height: 100px;
		margin-top: 30px;
	}
	.left{
		width: 70%;
		margin-left: 100px;/*
		background-color: lightblue;*/
		margin-top: 20px;
	}
	.p{
		width: 70%;
		height: 110px;
		margin-left: 100px;
		margin-top: 0px;
	}
	.testimonials{
		height: 300px;
/*		background-color: black;*/
		width: 100%;
		margin-left: 0px;
	}
	.testimonial{
		display: none;
	}
	.testimonialy{
		height: 300px;
		width: 80%;
		background-color: lightblue;
		margin-left: 2%;
		border-radius: 5px;
	}
	.fffpart{
		width: 98%;
		margin-left: 1%;
		font-size: 20px;
		font-family: arial;
	}
	.full{
		height: 1500px;
		width: 100%;
		margin-left: 0px;
	}
	.half{
		width: 80%;
		margin-left: 9%;
		font-size: 20px;
		font-family: arial;
		background-color: rgb(233, 235, 255 / 1.0);
	}
	.mapp{
		width: 90%;
	}
	.halff{
		height: 750px;
		width: 80%;
		margin-left: 9%;
	}
	.form{
		width: 100%;
		margin-left: 0px;
	}
	.labe{
		font-size: 20px;
		font-family: arial;
	}
	.add{
		width: 95%;
		margin-left: 2%;
	}
	.loc{
		width: 16%;
	}
	.locc{
		width: 70%;
		float: left;
		margin-top: 7px;
	}
	.formm{
		width: 80%;
		margin-left: 10%;
	}
	.formmm{
		width: 80%;
		margin-left: 10%;
	}
	.formmmm{
		width: 80%;
		margin-left: 10%;
	}
	.but{
		margin-left: 20%;
	}
	.copy{
		width: 100%;
		margin-left: 0px;
	}

	body{
		overflow-x: hidden;
	}
}




@media (min-width:768px) and (max-width:1024px){
	.navbar{
		display: none;
	}
	.spart{
		width: 100%;
		height: 600px;
		margin-left: 0px;
	}
	.tpart{
		width: 100%;
		margin-left: 0px;
	}
	.abt{
		font-family: arial;
		font-size: 20px;
	}
	.ph{
		width: 100%;
		margin-left: 0px;
	}
	.pp{
		font-family: arial;
		font-size: 20px;
		width: 100%;
	}
	.co{
		height: 400px;
		width: 80%;
		background-color: skyblue;
		margin-left: 70px;
		margin-top: 20px;
		float: left;
	}
	.uul{
		font-size: large;
	}
	.ppp{
		width: 98%;
		font-size: 20px;
		font-family: arial;
		margin-left: 10px;
	}
	.numbers{
		height: 450px;
		width: 97%;
		font-size: 30px;
		margin-left: 2%;
		margin-top: 100px;
	}
	.num1{
		height: 200px;
		width: 40%;
		margin-left: 25px;
		float: left;
/*		background-color: lightblue;*/
		text-align: center;
		margin-top: 25px;
	}
	.num2{
		height: 200px;
		width: 40%;
		margin-left: 25px;
		float: left;
/*		background-color: lightblue;*/
		text-align: center;
		margin-top: 25px;
	}
	.num3{
		height: 200px;
		width: 40%;
		margin-left: 25px;
		float: left;
/*		background-color: lightblue;*/
		text-align: center;
		margin-top: 25px;
	}
	.num4{
		height: 200px;
		width: 40%;
		margin-left: 25px;
		float: left;
/*		background-color: lightblue;*/
		text-align: center;
		margin-top: 25px;
		margin-bottom: 0px;
	}
	.ffpart{
		width: 100%;
		margin-left: 0px;
	}
	.progresss{
		width: 97%;
		margin-left: 13px;
	}
	.progressss{
		width: 98%;
		margin-left: 13px;
		margin-top: 13px;
	}
	.sspart{
		width: 100%;
		margin-left: 7px;
		margin-top: 50px;
		font-size: 20px;
		font-family: arial;
	}
	.ssspart{
		width: 100%;
		margin-left: 0px;
		font-size: 20px;
		font-family: arial;
	}
	.ndiv{
		width: 98%;
		margin-left: 1%;
	}
	.circle{
		margin-top: 20px;
	}
	.listtt{
		margin-top: 0px;
	}
	.vline{
		height: 300px;
	}
	.ndivv{
		width: 98%;
		margin-left: 1%;
	}
	.ffpart{
		width: 98%;
		margin-left: 1%;
		font-size: 20px;
		font-family: arial;
	}
	.epart{
		margin-left: 1%;
		width: 98%;
	}
	.npart{
		height: 2000px;
		width: 100%;
		margin-left: 15px;
	}
	.nnpart{
		width: 40%;
		margin-left: 30px;
	}
	.ttpart{
		width: 97%;
		margin-left: 2%;
		height: 500px;
		font-size: 20px;
		font-family: arial;
	}
	.ipsum{
		width: 50%;
		margin-left: 0px;
		margin-top: 20px;
	}
	.icons{
		height: 100px;
		margin-top: 30px;
	}
	.left{
		width: 70%;
		margin-left: 100px;/*
		background-color: lightblue;*/
		margin-top: 20px;
	}
	.p{
		width: 70%;
		height: 110px;
		margin-left: 100px;
		margin-top: 0px;
	}
	.testimonials{
		height: 300px;
/*		background-color: black;*/
		width: 100%;
		margin-left: 0px;
	}
	.testimonial{
		display: none;
	}
	.testimonialy{
		height: 300px;
		width: 80%;
		background-color: lightblue;
		margin-left: 2%;
		border-radius: 5px;
	}
	.fffpart{
		width: 98%;
		margin-left: 1%;
		font-size: 20px;
		font-family: arial;
	}
	.full{
		height: 1500px;
		width: 100%;
		margin-left: 0px;
	}
	.half{
		width: 80%;
		margin-left: 9%;
		font-size: 20px;
		font-family: arial;
		background-color: rgb(233, 235, 255 / 1.0);
	}
	.mapp{
		width: 90%;
	}
	.halff{
		height: 750px;
		width: 80%;
		margin-left: 9%;
	}
	.form{
		width: 100%;
		margin-left: 0px;
	}
	.labe{
		font-size: 20px;
		font-family: arial;
	}
	.add{
		width: 95%;
		margin-left: 2%;
	}
	.loc{
		width: 10%;
	}
	.locc{
		width: 70%;
		float: left;
		margin-top: 7px;
	}
	.formm{
		width: 80%;
		margin-left: 10%;
	}
	.formmm{
		width: 80%;
		margin-left: 10%;
	}
	.formmmm{
		width: 80%;
		margin-left: 10%;
	}
	.but{
		margin-left: 200px;
	}
	.copy{
		width: 100%;
		margin-left: 0px;
	}

	body{
		overflow-x: hidden;
	}
}